.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #b55bea, #9915e6, #7711b3);
    color: white;
}

footer {
    background-image: linear-gradient(to right,  #b55bea, #9915e6, #7711b3);
    padding: 20px 0;
}

body {
    font-family: "sans-serif";
}

#body {
    background-color: #004034;
}

#partylite {
    background-color: #f9ce33;
}
